{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>boo_silev</title>

    <link href="{% static 'bootstrap/css/bootstrap.css' %}" rel="stylesheet">
    <script src="{% static 'jquery/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>

</head>
<body>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="page-header">
                <a href="{% url 'core:index' %}" class="btn btn-success">Главная</a>
                {% if user.is_authenticated %}
                    Пользователь: {{ user.username }}
                {% else %}
                    <a href="{% url 'core:login_user' %}" class="btn btn-success">Войти</a>
                    <a href="{% url 'core:create_user' %}" class="btn btn-primary">Регистрация</a>
                {% endif %}
            </div>
        </div>
    </div>
    {% block content %}{% endblock %}
</div>

</body>
</html>