{% extends 'layout.html' %}

{% block content %}
    <form class="form-horizontal" method="post" novalidate="novalidate">
        {% csrf_token %}
        <div class="form-group">
            <div class="col-lg-2 col-sm-10">
                {{ form.username.label }}
            </div>
            <div class="col-lg-5 col-sm-10">
                {{ form.username }}
                {% if form.username.errors %}
                    {{ form.username.errors }}
                {% endif %}
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-2 col-sm-10">
                {{ form.password.label }}
            </div>
            <div class="col-lg-5 col-sm-10">
                {{ form.password }}
                {% if form.password.errors %}
                    {{ form.password.errors }}
                {% endif %}
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary">Зарегистрировать</button>
            </div>
        </div>
    </form>
{% endblock %}